*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body{
  background-color: darkslategrey;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

#calc{
  width: 25rem;
  padding: 0.5rem;
  background-color: #c4c4c4;
  color: black;
  display: flex;
  flex-direction: column;
}

#calc h3{
  font-size: 0.8rem;
  font-weight: 300;
  color: #666;
}

#operations{
  text-align: right;
}

#previous-operation,
#current-operation{
  min-height: 4rem;
  padding: 0.2rem;
  overflow-wrap: break-word;
}

#previous-operation{
   color: #777;
}

#current-operation{
  font-size: 3rem;
  font-weight: 700;
}

#buttons-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3px;
}

div{
  gap: 3px;
}

#buttons-container button{
  border: 1px solid transparent;
  border-radius: 1px;
  height: 4rem;
  font-size: 1.2rem;
  background-color: #dbdbdb;
  cursor: pointer;
}

#buttons-container .number{
  background-color: #f3f3f3;
}

#buttons-container button:hover {
  background-color: #bababa;
  border-color: #999;
}

#buttons-container #backspace-btn{
  grid-column: span 2;
}

#buttons-container #equal-btn{
  grid-column: span 4;
  background-color: #75a5cb;
}

#buttons-container #equal-btn:hover{
  background-color: #3a91d8;
}
